<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <base th:href="@{/}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>节能屋顶设计</title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <script src="layui/layui.js" charset="utf-8"></script>
</head>

<body>

    <!--顶部导航改href-->
    <ul class="layui-nav layui-bg-cyan">
        <li class="layui-nav-item "><a href="/">首页</a></li>
        <li class="layui-nav-item layui-this"><a href="/design/toDesign">天窗设计</a></li>
        <li class="layui-nav-item "><a href="/windows/window">天窗控制</a></li>
    </ul>


    <!--更改action-->
    <form class="layui-form" method="post" action="/design/handle">
        <!--经纬度-->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">经度</label>
                <div class="layui-input-block">
                    <input type="text" id="lon" name="lon" lay-verify="required|number|lon" lay-reqtext="经度不能为空"
                        placeholder="请输入" value="0" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">纬度</label>
                <div class="layui-input-block">
                    <input type="text" id="lat" name="lat" lay-verify="required|number|lat" lay-reqtext="纬度不能为空"
                        placeholder="请输入" value="0" class="layui-input">
                </div>
            </div>
        </div>
        <!--方位角-->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">方位角</label>
                <div class="layui-input-block">
                    <input type="text" id="azimuth" name="azimuth" lay-verify="required|number|azimuth"
                        lay-reqtext="方位角不能为空" placeholder="请输入" value="0" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">自定义倾角</label>
                <div class="layui-input-block">
                    <input type="text" id="userAngle" name="userAngle" lay-verify="required|number|userAngle" value="0"
                        lay-reqtext="用户不能为空" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <button type="button" class="layui-btn" id="predict">预测倾角</button>
            </div>
        </div>

        <!--光伏-->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">光伏类型</label>
                <div class="layui-input-block">
                    <select name="photovoltaicPanelType">
                        <option value="0">单晶硅太阳能板</option>
                        <option value="1">化合物太阳能板</option>
                        <option value="2">多晶硅太阳能板</option>
                        <option value="3">非晶硅太阳能板</option>
                    </select>
                </div>
            </div>
        </div>
        <!--建筑-->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">房屋类型</label>
                <div class="layui-input-block">
                    <select name="houseType">
                        <option value="0">传统房屋</option>
                        <option value="1">传统平房</option>
                        <option value="2">采光房</option>
                        <option value="3">大型建筑</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">建筑类型</label>
                <div class="layui-input-block">
                    <select name="buildingType">
                        <option value="0">办公</option>
                        <option value="1">学校</option>
                        <output value="2">旅馆</output>
                        <option value="3">医院</option>
                        <option value="4">展览</option>
                        <option value="5">交通</option>
                        <option value="6">体育</option>
                        <option value="7">工业</option>
                    </select>
                </div>
            </div>
        </div>
        <!--玻璃 -->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">玻璃规格</label>
                <div class="layui-input-block">
                    <select name="glassType" lay-filter="glassType">
                        <option value="0">单层玻璃</option>
                        <option value="1">夹层玻璃</option>
                        <option value="2">中空玻璃</option>
                        <option value="3">镀膜玻璃</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">玻璃类型</label>
                <div class="layui-input-block">
                    <select name="glassSpecifications" lay-filter='glassSpecifications'>
                        <option value="0">普通白玻</option>
                        <option value="1">超白玻璃</option>
                        <option value="2">浅蓝玻璃</option>
                        <option value="3">水晶灰玻</option>
                    </select>
                </div>
            </div>
        </div>
        <!--窗户-->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">窗框种类</label>
                <div class="layui-input-block">
                    <select name="windowsType">
                        <option value='0'>单层</option>
                        <option value="1">双层</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">窗框材料</label>
                <div class="layui-input-block">
                    <select name="windowsMaterial">
                        <option value="0">木窗</option>
                        <option value="1">铝窗</option>
                        <output value="2">钢窗</output>
                        <option value="3">塑料窗</option>
                    </select>
                </div>
            </div>
        </div>
        <!--房屋-->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">房屋长度</label>
                <div class="layui-input-block">
                    <input type="text" id="houseLength" name="houseLength" lay-verify="required|number|houseLength"
                        lay-reqtext="房屋长度不能为空" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">房屋高度</label>
                <div class="layui-input-block">
                    <input type="text" id="houseHigh" name="houseHigh" lay-verify="required|number|houseHigh"
                        lay-reqtext="房屋高度不能为空" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">房屋宽度</label>
                <div class="layui-input-block">
                    <input type="text" id="houseWidth" name="houseWidth" lay-verify="required|number|houseWidth"
                        lay-reqtext="房屋宽度不能为空" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <!--反射-->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">棚顶反射比</label>
                <div class="layui-input-block">
                    <select name="shedReflect">
                        <option value='0'>0.8</option>
                        <option value="1">0.5</option>
                        <option value="2">0.2</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">墙面反射比</label>
                <div class="layui-input-block">
                    <select name="wallReflect">
                        <option value="0">0.5</option>
                        <option value="1">0.3</option>
                        <output value="2">0.1</output>
                    </select>
                </div>
            </div>
        </div>
        <!--地区-->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">光气候区</label>
                <div class="layui-input-block">
                    <select name="lightClimate">
                        <option value="0">Ⅰ区</option>
                        <option value="1">Ⅱ区</option>
                        <option value="2">Ⅲ区</option>
                        <option value="3">Ⅳ区</option>
                        <option value="4">Ⅴ区</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">采光等级</label>
                <div class="layui-input-block">
                    <select name="lightLevel">
                        <option value="0">Ⅰ型</option>
                        <option value="1">Ⅱ型</option>
                        <option value="2">Ⅲ型</option>
                        <option value="3">Ⅳ型</option>
                        <option value="4">Ⅴ型</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="submitDesign">提交</button>
            </div>
        </div>
    </form>

    <script>
        var glassTy = [
                    ["普通白玻", "超白玻璃", "浅蓝玻璃", "水晶灰玻"], 
                    ["6C+1.52PVB+6C", "3C+0.38PVB+3C", "3F+0.38PVB+3C", "6C+0.76PVB+6C", "6F+0.38PVB+6C"],
                    ["高透Low-E1", "高透Low-E2", "遮阳灰", "遮阳浅蓝灰", "双银Low-E"], 
                    ["热反射镀膜玻璃", "硬镀膜纸辐射玻璃3", "硬镀膜纸辐射玻璃4", "硬镀膜纸辐射玻璃5", "硬镀膜纸辐射玻璃6", "硬镀膜纸辐射玻璃8", "硬镀膜纸辐射玻璃10", "硬镀膜纸辐射玻璃12", "硬镀膜纸辐射玻璃6(金)", "硬镀膜纸辐射玻璃8(金)"]
                ];

        layui.use(['form'], function () {
            var form = layui.form;
            $ = layui.jquery;

            form.on("select(glassType)", function (data) {
                var index = data.elem.value;
                var type = glassTy[index];
                $("select[name='glassSpecifications']").empty();
                for (var i = 0; i < type.length; i++) {
                    var option = getOption(i, type[i]);
                    $("select[name='glassSpecifications']").append(option);
                }
                form.render('select');
            })

            $("#predict").click(function () {
                $.ajax({
                    type: "post",
                    url: "/api/v1/BestAngle",
                    data: {
                        lon: $("#lon").val(),
                        lat: $("#lat").val(),
                        azimuth: $("#azimuth").val(),
                    },
                    dataType: "json",
                    success: function (data) {
                        layer.msg("最佳倾角:" + data + "°");
                    },
                    error:function(data){
                        layer.msg("出错啦");
                    }
                });
            })

            //自定义验证规则
            form.verify({
                lon: function (value) {
                    if (value > 180 || value < -180) {
                        return '经度范围在-180到180';
                    }
                }, lat: function (value) {
                    if (value > 90 || value < -90) {
                        return '维度范围在-90到90';
                    }
                }, azimuth: function (value) {
                    if (value > 90 || value < -90) {
                        return '方位角范围在-90到90';
                    }
                }, userAngle: function (value) {
                    if (value > 90 || value < -90) {
                        return '自定义倾角角范围在-90到90';
                    }
                }, houseLength: function (value) {
                    if (value <= 0) {
                        return '请输入正确的房屋长度';
                    }
                }, houseHigh: function (value) {
                    if (value <= 0) {
                        return '请输入正确的房屋高度';
                    }
                }, houseWidth: function (value) {
                    if (value <= 0) {
                        return '请输入正确的房屋宽度';
                    }
                }
            });
        });

        function getOption(value, text) {
            var option = "<option value='" + value + "'>" + text + "</option>";
            return option;
        }
    </script>
</body>

</html>