<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <base th:href="@{/}">
    <title>节能屋顶</title>
    <link rel="stylesheet" href="layui/css/layui.css">
</head>

<body>
      <!--改href-->
    <ul class="layui-nav layui-bg-cyan">
        <li class="layui-nav-item layui-this"><a href="/">首页</a></li>
        <li class="layui-nav-item "><a href="/design/toDesign">天窗设计</a></li>
    </ul>

    <script src="layui/layui.js"></script>

</body>

</html>