<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <base th:href="@{/}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>节能屋顶图片轮播</title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <script src="layui/layui.js" charset="utf-8"></script>
</head>

<body>
    <div class="layui-carousel" id="building">
        <div carousel-item>
            <div><span class="layui-colorpicker-trigger-span"><img src="img/lightmap.png" alt="光区" height="300px"
                        width="400px" /></span></div>
            <div><span class="layui-colorpicker-trigger-span"><img src="img/building1.png" alt="犄角房" height="300px"
                        width="400px" /></span></div>
            <div><span class="layui-colorpicker-trigger-span"><img src="img/building2.png" alt="平房" height="300px"
                        width="400px" /></span></div>
            <div><span class="layui-colorpicker-trigger-span"><img src="img/lightboard.png" alt="太阳能板" height="300px"
                        width="400px" /></span></div>
        </div>
    </div>

    <script>
        layui.use('carousel', function () {
            var carousel = layui.carousel;
            //建造实例
            carousel.render({
                elem: '#building'
                , width: '400px' //设置容器宽度
                , height: '300px'
                , arrow: 'always' //始终显示箭头
                //,anim: 'updown' //切换动画方式
                , interval: 2000
            });
        });
    </script>
</body>

</html>