<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <base th:href="@{/}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>节能屋顶控制</title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <script src="layui/layui.js" charset="utf-8"></script>
</head>

<body>
    <!--改href-->
    <div class="layui-header">
        <ul class="layui-nav layui-bg-cyan">
            <li class="layui-nav-item "><a href="/"><i class="layui-icon layui-icon-home"></i>首页</a></li>
            <li class="layui-nav-item "><a href="/design/toDesign">天窗设计</a></li>
            <li class="layui-nav-item layui-this"><a href="/windows/window">天窗控制</a></li>
        </ul>
        <ul class="layui-nav layui-bg-cyan layui-layout-right">
            <li class="layui-nav-item "><a sec:authorize="!isAuthenticated()" href="/toLogin">登录</a></li>
            <li class="layui-nav-item "><a sec:authorize="!isAuthenticated()" href="/toRegister">注册</a></li>
            <li class="layui-nav-item "><a sec:authorize="isAuthenticated()" sec:authentication="name" href=""></a></li>
            <li class="layui-nav-item "><a sec:authorize="isAuthenticated()" href="/logout">登出</a></li>
        </ul>
    </div>

    <div class="layui-main">
        <form class="layui-form" action="">
            <!--经纬度-->
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">经度</label>
                    <div class="layui-input-block">
                        <input type="text" id="lon" name="lon" lay-verify="required|number" lay-reqtext="经度不能为空"
                            value="114" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">纬度</label>
                    <div class="layui-input-block">
                        <input type="text" id="lat" name="lat" lay-verify="required|number" lay-reqtext="纬度不能为空"
                            value="30" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">海拔</label>
                    <div class="layui-input-block">
                        <input type="number" id="alt" name="alt" lay-verify="required|number" lay-reqtext="海拔不能为空"
                            value="10" placeholder="请输入" class="layui-input">
                    </div>
                </div>
                <!--天气获取按钮-->
                <div class="layui-inline">
                    <button type="button" class="layui-btn" id="getWeather">查询天气</button>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">PM10:</label>
                    <div class="layui-input-block">
                        <input type="text" id="pm10" disabled="" value="0" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">PM2.5:</label>
                    <div class="layui-input-block">
                        <input type="text" id="pm25" disabled="" value="0" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">降雨量:</label>
                    <div class="layui-input-block">
                        <input type="text" id="pcpn" disabled="" value="0" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">太阳高度角:</label>
                    <div class="layui-input-block">
                        <input type="text" id="solarAngle" disabled="" value="0" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">天窗角度</label>
                    <div class="layui-input-block">
                        <input type="text" id="angle" name="angle" lay-verify="required|number" lay-reqtext="角度不能为空"
                            placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <!--角度控制按钮-->
                <div class="layui-inline">
                    <button type="button" class="layui-btn" id="pubAngle">发送</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        layui.use(['form'], function () {
            var form = layui.form;
            $ = layui.jquery;

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                layer.msg("您的浏览器不支持地理位置");
            }

            function showPosition(position) {
                $("#lat").val(position.coords.latitude);
                $("#lon").val(position.coords.longitude);
                //有些浏览器不支持海拔
                $("#alt").val(position.coords.altitude);
            }

            $('#lon').change(function () {
                value = $('#lon').val();
                if (isNaN(value) || value > 180 || value < -180) {
                    $('#lon').val("");
                }
            });
            $('#lat').change(function () {
                value = $('#lat').val();
                if (isNaN(value) || value > 180 || value < -180) {
                    $('#lat').val("");
                }
            });

            $('#alt').change(function () {
                value = $('#alt').val();
                if (isNaN(value) || value < 0) {
                    $('#alt').val("");
                }
            });

            $('#angle').change(function () {
                value = $('#angle').val();
                if (isNaN(value) || value > 180 || value < 0) {
                    $('#angle').val("");
                }
            });

            $("#getWeather").click(function () {
                lon = $('#lon').val();
                lat = $('#lat').val();
                alt = $('#alt').val();
                if (lon == "" || lat == "" || alt == "") {
                    layer.msg("请输入正确的数据");
                    return;
                }
                //获取天气
                $.ajax({
                    type: "post",

                    url: "/api/v1/Weather",
                    data: {
                        lat: lat,
                        lon: lon,
                    },
                    dataType: "json",
                    success: function (data) {
                        $('#pm10').val(data.pm10);
                        $('#pm25').val(data.pm25);
                        $('#pcpn').val(data.pcpn);
                    },
                    error: function (data) {
                        layer.msg("出错啦");
                    }
                });
                //获取太阳
                $.ajax({
                    type: "post",

                    url: "/api/v1/Solar",
                    data: {
                        lat: lat,
                        lon: lon,
                        alt: alt,
                    },
                    dataType: "json",
                    success: function (data) {
                        //TODO:改dom
                        console.log(data)
                        $('#solarAngle').val(data.solar_elevation_angle);
                    },
                    error: function (data) {
                        layer.msg("出错啦");
                    }
                });
            })

            $('#pubAngle').click(function () {
                angle = $('#angle').val();
                if ("" == angle) {
                    layer.msg("请输入正确的角度");
                    return;
                }
                $.ajax({
                    type: "post",

                    url: "/api/v1/mqttAngle",
                    data: {
                        angle: angle,
                    },
                    dataType: "text",
                    success: function (data) {
                        if (data == "success") {
                            layer.msg("发送成功")
                        } else {
                            layer.msg("发送出错啦")
                        }
                    },
                    error: function (data) {
                        layer.msg("出错啦");
                    }
                })
            })
        });
    </script>
</body>

</html>